
<div class="container">
  <h1>Instructor <%= @instructor.first_name + " " + @instructor.last_name %>:</h1>
  <%= link_to 'Delete Instructor', instructor_path(id: @instructor.id), method: :delete, class: "waves-effect waves-light btn indigo lighten-1" %>
  <%= link_to 'Edit Instructor', instructor_path(id: @instructor.id), class: "waves-effect waves-light btn indigo lighten-1" %>
  
  